* {
    box-sizing: border-box;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(#15171d, #01e7f6) no-repeat fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.box {
    width: 1000px;
    height: 700px;
    background-color: #20242d;
    border-radius: 30px;
    box-shadow: 0 0 30px rgb(0, 0, 0);
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.box1 {
    margin-left: 10px;
    flex: 1;
    font-size: 2rem;
    text-align: left;
}

.box2 > ul {
    margin-top: 10px;
    display: flex;
    float: right;
    gap: 30px;
}

.box1, .box2 {
    color: #feffff;
    text-shadow: 0 0 5px #6e7176;
}

.box2 > ul > li, .box2 > ul > a > li {
    color: #feffff;
    text-shadow: 0 0 5px #6e7176;
    transition: color 0.5s ease-in-out, text-shadow 0.5s ease-in-out;
}

.box2 > ul > li:hover, .box2 > ul > a > li:hover {
    color: #63e4e4; 
    text-shadow: 0 0 5px #4e858c;
    transition: color 0.5s ease-in-out, text-shadow 0.5s ease-in-out;
}

a {
    text-decoration: none;
    color: #feffff;
}

div.DisplayBox > h1 {
    font-size: 1.3rem;
    text-align: center;
    color: #feffff;
    text-shadow: 0 0 5px #d2d2d2;
}

div.DisplayBox > p {
    color: white;
    text-shadow: 0 0 5px #d2d2d25f;
    font-size: 1rem;
}

.Socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-top: 450px;
    border: 1px solid #00e1ff;
    box-shadow: 0 0 15px #00e1ff;
    border-radius: 50%;
    background-color: #20242d;
    position: absolute;
    width: 40px;
    height: 40px;
}

.Socials > a > img {
    width: 25px;
    height: 25px;
    transform: rotate(0deg) scale(1);
    transition: transform 1s ease-in-out;
}

.Socials > a > img:hover {
    transform: rotate(360deg) scale(0.9);
    transition: transform 1s ease-in-out;
}
.info {
    position: absolute;
    color: #feffff;
    text-shadow: 0 0 5px #6e7176;
    margin-top: 200px;
}

.box > button {
    background-color: #0ef4ff ;
    border: 2px solid #0ef4ff;
    box-shadow: 0 0 15px #2ae6ff;
    border-radius: 50px;
    height: 50px;
    width: 200px;
    margin-top: 530px;
    margin-left: 10px;
    position: absolute;
}

.info > p {
    color: #feffff;
    text-shadow: 0 0 5px #d2d2d2;
    font-size: 2rem;
    margin: 10px;
}

.DisplayBox {
    position: absolute;
    padding: 20px;
    background-color: #34e4ff78;
    border-radius: 10px;
    box-shadow: 0 0 10px #00d5ff;
    animation: squint 5s infinite ease-in-out;
    transition: transform 0.5s ease-in-out;
}

@keyframes squint {
    0% {
       scale: 1; 
    }
    50% {
        scale: 1.02;
    }
    100% {
        scale: 1;
    }
}

.DisplayBox:hover {
    transform: skew(-10deg);
}